body{
  /*background-color: rgb(51, 51, 51);*/
  font-family: 'proxima-nova', sans-serif;
}
.selected-name{
  font-size: 24pt;
}

.name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.details{
  width: 100%
}

.right-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.add-button{
  justify-self: flex-end;
}

.radar-div{
  border-top: 1px solid black;
}

.graph-text{
  pointer-events:none;
  z-index: 2;
  position: fixed;
}

.graph-lines{
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges
}

line{
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges
}

.grid{

}

.x-axis{

}

.y-axis{

}

.container{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.details{
  border-left: 1px solid black;
  padding-left: 5px;
}